<div class="container">
  <h1># <%= @chatroom.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <%= render @chatroom.messages %>  
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
  <% end %>
</div>