<div class="home-banner">
  <div class="coming-soon">
    <h1>SailSessions</h1>
    <p>CHOISIS UN SPORT</p>
    <p>TROUVE TA COMMUNAUTÉ</p>
    <p>PARTAGEZ VOTRE PASSION ENSEMBLE</p>
    <div class="container">
      <div class="search-form-control form-group form-inline center-search">
        <%= form_with url: "/search", method: :get, local: true do |form| %>
          <%= form.text_field :sport, placeholder: "Choisis ton sport", class: "form-control little-margin-bottom" %>
          <%= form.text_field :depart, placeholder: "Tu pars d'ou ?", class: "form-control little-margin-bottom" %>
          <%= form.date_field :date, placeholder: "Quand ?", class: "form-control little-margin-bottom" %>
          <%= form.submit "Trouve ta session", class: "btn btn-flat background-accent-color" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<h1>Ta session par sport</h1>


  <section class="carousel">
      <ul class="carousel-items">
          <% @sports.each do |sport| %>
            <a href="/search?sport=<%= sport.name %>&depart=&date=&commit=Trouve+ta+session">
              <div class="card-sport-home" style="background-image: linear-gradient(120deg, rgba(20,20,20,0.8), rgba(20,20,20,0.2)), url('<%= sport.image_url %>')">
                  <h1><%= sport.name %></h1>
                <li class="carousel-item"></li>
              </div>
            </a>
          <% end %>
      </ul>
  </section>



<h1>Top session</h1>
<div class="cards-sessions">
  <% @rides.each do |ride| %>
    <%= link_to ride_path(ride) do %>
      <div class="card-session">
        <div class="card-session-colum">
            <h3><%= ride.title %></h3>
            <p><%= ride.nb_of_place %></p>
            <p><%= ride.spot %></p>
        </div>
        <div class="card-session-colum  right">
            <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
            <p><%= ride.date %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
