
<!-- Content for Meta-data -->
<% content_for :meta_title, "SailSession | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Redécouvrez avec SailSession le plaisir de partager votre passion pour les sports nautiques. Ensemble c'est toujours mieux!" %>
<% content_for :meta_image, image_path(DEFAULT_META["meta_image"]) %>

<div class="home-banner">
      <div class="container pl-4">
        <div class="img-container">
          <%= image_tag 'logo-sail-sessions.png', class: "logo-hp" %>
        </div>
        <div class="content-container">
          <h1>SailSessions</h1>
          <h3>Partagez plus que votre passion</h3>
          <h3>pour les sports nautiques</h3>
          <div class="banner-CTA">
            <h3><a class="btn btn-flat background-accent-color" href="/rides/new">Créer sa session</a></h3>
          </div>
        </div>
    </div>
</div>
  <!-- Search Form  -->
<div class="container">
  <h2 class="pt-3 view-headline text-center">Cherche une session près de chez toi!</h2>
    <div class="search-form-control form-group form-inline center-search">
      <%= form_with url: "/search", method: :get, local: true, :remote => true  do |form| %>
       <!-- Dropdown -->
      <%= form.select :sport, Sport.all.map {|sport| sport.name},
      {
        selected: "",
        prompt: 'Choisis ton sport',
      },
      {class: "form-control little-margin-bottom"} %>
      <%= form.text_field :from, placeholder: "Tu pars d'ou ?", class: "form-control little-margin-bottom", id:"from-input"%>
      <%= form.date_field :date, placeholder: "Quand ?", class: "form-control little-margin-bottom" %>
        <h3><%= form.submit "Trouver une session", class: "btn btn-flat-search background-accent-color" %></h3>
      <% end %>
    </div>


<!-- Carroussel Images -->
  <h2 class="pt-2 view-headline">Découvre nos sports</h2>
  <section class="carousel">
      <ul class="carousel-items">
          <% @sports.each do |sport| %>
            <a href="/search?sport=<%= sport.name %>&depart=&date=&commit=Trouve+ta+session">
              <div class="card-sport-home" style="background-image: linear-gradient(120deg, rgba(20,20,20,0.8), rgba(20,20,20,0.2)), url('<%= sport.image_url %>')">
                  <h1><%= sport.name %></h1>
                <li class="carousel-item"></li>
              </div>
            </a>
          <% end %>
      </ul>
  </section>



  <h2 class="pt-3 view-headline">Rejoins ces sessions!</h2>
  <div class="cards-sessions">
    <% @rides.each do |ride| %>
      <%= link_to ride_path(ride) do %>
        <div class="card-session">
          <div class="card-session-colum">
              <h3><%= ride.title %></h3>
              <p>Place : <%= ride.nb_of_place %></p>
              <p>Spot : <%= ride.spot %></p>
          </div>
          <div class="card-session-colum  right">
            <% if ride.user.photo.attached? %>
              <%= cl_image_tag ride.user.photo.key, class: "profile-pic" %>
            <% else %>
              <%= image_tag 'logo-sail-sessions.png', class: "profile-pic" %>
            <% end %>
            <p><%= ride.departure_date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
