
<%# top btn onglet %>
<div class="top-onglet-btn">
    <button class="onglet-btn" data-anim="1"><h2>Réservation en attente</h2></button>
    <button class="onglet-btn btn-active" data-anim="2"><h2>Sessions a venir</h2></button>
</div>
<%# les 2 content %>
<%# les futur resa %>
<div class="page-content">
    <div class="onglet" data-anim="1">
        <div class="container">
            <h1 class="margin-top">Tes reservations en attente !</h1>
            <% if @resa_en_att != 0 %>
                <% @myrides.each do |ride| %>
                    <% ride.bookings.where(status: "en attente").each do |booking| %>
                    <%= link_to ride_path(ride) do  %>
                        <div class="card-mes-session booking">
                            <div class="top-card-mes-session">
                                <h3 class="titre-margin-top"><%= booking.ride.title %></h3>
                                <div class="right-flex">
                                    <% if booking.user.photo.attached? %>
                                        <%= cl_image_tag booking.user.photo.key, class: "profile-pic margin" %>
                                    <% else %>
                                        <%= image_tag "logo-sail-sessions.png", class: "profile-pic margin" %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="bar-white"></div>
                            <div class="card-middle">
                                <p>Sport : <%= booking.ride.sport.name %></p>
                                <p>Spot : <%= booking.ride.spot %></p>
                                <p>Date : <%= booking.ride.date %></p>
                                <p>Début : <%= booking.ride.format_hour(booking.ride.start_time) %></p>
                                <p>status : <%= booking.status %></p>
                                <p class="margin-bottom">N'oublie pas de rapporter : <%= booking.ride.title %></p>
                            </div>
                            <div class="btn-inline">
                                <div class="card-btn-down">
                                    <%= link_to "Refuser",
                                        change_status_booking_path(booking,status: "refusée"),
                                        method: :patch,
                                        data: { confirm: "Tu veux vraiment refuser cette réservations ?" }, 
                                        class: 'btn btn-flat background-grey-color' %>

                                    <%= link_to "Accepter",
                                        change_status_booking_path(booking,status:"acceptée"),
                                        method: :patch,
                                        data: { },
                                        class: 'btn btn-flat background-accent-color' %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <div class="card-mes-session booking">
                    <div class="top-card-mes-session">
                        <h3 class="titre-margin-top">Pas de réservation en attente</h3>
                    </div>
                    <div class="bar-white"></div>
                    <div class="card-middle">
                        <p>Propose plus sessions :)</p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <%# les resa a venir %>
    <div class="onglet" data-anim="2" id="active">
        <div class="container">
            <h1 class="margin-top">Tes reservations !</h1>
            <% if @resa_acceptee != 0 %>
                <% @myrides.each do |ride| %>
                    <% ride.bookings.where(status: "acceptée").each do |booking| %>
                    <%= link_to ride_path(ride) do  %>
                        <div class="card-mes-session">
                            <div class="top-card-mes-session">
                                <h3 class="titre-margin-top"><%= booking.ride.title %></h3>
                                <div class="right-flex">
                                    <% if booking.ride.user.photo.attached? %>
                                        <%= cl_image_tag booking.ride.user.photo.key, class: "profile-pic margin driver" %>
                                    <% else %>
                                        <%= image_tag "logo-sail-sessions.png", class: "profile-pic margin driver" %>
                                    <% end %>
                                    <% booking.ride.bookings.each do |b| %>
                                        <% if b.user.photo.attached? %>
                                            <%= cl_image_tag b.user.photo.key, class: "profile-pic margin" %>
                                        <% else %>
                                            <%= image_tag "logo-sail-sessions.png", class: "profile-pic margin" %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="bar-white"></div>
                            <div class="card-middle">
                                <p>Sport : <%= booking.ride.sport.name %></p>
                                <p>Spot : <%= booking.ride.spot %></p>
                                <p>Date : <%= booking.ride.date %></p>
                                <p>Début : <%= booking.ride.format_hour(booking.ride.start_time) %></p>
                                <p>status : <%= booking.status %></p>
                                <p class="margin-bottom">N'oublie pas de rapporter : <%= booking.ride.title %></p>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <div class="card-mes-session booking">
                    <div class="top-card-mes-session">
                        <h3 class="titre-margin-top">Pas de sessions prévus</h3>
                    </div>
                    <div class="bar-white"></div>
                    <div class="card-middle">
                        <p>Propose plus sessions :)</p>
                    </div>
                </div>
            <% end %>
            <h1>Tes Rides à venir ! </h1>
            <% @mybookings.each do |booking| %>
            <%= link_to ride_path(booking) do  %>
            <div class="card-mes-session">
                <div class="top-card-mes-session">
                    <h3 class="titre-margin-top"><%= booking.ride.title %></h3>
                    <div class="right-flex">
                            <% if booking.ride.user.photo.attached? %>
                                <%= cl_image_tag booking.ride.user.photo.key, class: "profile-pic margin driver" %>
                            <% else %>
                                <%= image_tag "logo-sail-sessions.png", class: "profile-pic margin driver" %>
                            <% end %>
                        <% booking.ride.bookings.each do |b| %>
                            <% if b.user.photo.attached? %>
                                <%= cl_image_tag b.user.photo.key, class: "profile-pic margin" %>
                            <% else %>
                                <%= image_tag "logo-sail-sessions.png", class: "profile-pic margin" %>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>    
            <% end %>
        </div>
    </div>
</div>



<%= javascript_pack_tag 'onglets' %>