<!-- Content for Meta-data -->
<% content_for :meta_title, "Propose ta session | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Crée ta session de sport nautique et embarquez à plusieurs pour des moments inoubliables. La passion mérite d'être partagée." %>
<% content_for :meta_image, image_path(DEFAULT_META["meta_image"]) %>

<a href="javascript:history.back()" class="position-top-left">
    <%= image_tag "outline_arrow_back_ios_black_24dp.png" %>
</a>
<div class="notre-container">
    <h1 class="view-headline pt-3">Create your session</h1>
    <%= simple_form_for(@ride) do |f| %>
        <%= f.association :sport, label: 'Sport :' %>
        <%= f.input :title, label: 'Titre :' %>
        <%= f.input :from, label: 'Lieux de départ :', input_html: {id:'from-input'} %>
        <%= f.input :spot, label: 'Lieux du spot :', input_html: {id:'create-input'} %>
        <%= f.input :nb_of_place, label: 'Nb place :' %>
        <%= f.input :date, label: 'Date :' %>
        <%= f.input :start_time, label: 'Heure de départ :' %>
        <%= f.input :end_time, label: 'Heure de fin :' %>
        <%= f.input :exchange_item, label: 'Objet à échanger :' %>
        <%= f.input :description, label: 'Description :' %>
        <%= f.submit class:"btn-flat", class:"btn btn-flat background-accent-color .link-to-h3 big-btn", label: "Crée ta session" %>
    <% end %>
</div>
