<div class="banner-search">
  <h1>This is all the result for SURF - XX sessions available</h1>
</div>
<% @rides.each do |ride| %>
  <%= link_to ride_path(ride) do %>
    <div class="card-session">
      <div class="card-session-colum">
          <h3><%= ride.title %></h3>
          <p><%= ride.nb_of_place %></p>
          <p><%= ride.spot %></p>
      </div>
      <div class="card-session-colum  right">
          <img class="profile-pic" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?size=338&ext=jpg" alt="profile">
          <p><%= ride.start_date %></p>
      </div>
    </div>
  <% end %>
<% end %>