
<!-- Content for Meta-data -->
<% content_for :meta_title, "Toutes nos sessions | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Parcourez l'ensemble des sessions nautiques disponibles sur SailSession. Kite, Windsurf, Surf, Jet-Ski et plus méritent d'être partagés." %>
<% content_for :meta_image, image_path(DEFAULT_META["meta_image"]) %>
<div class="search-banner"></div>
<div class="container">
  <h1 class="pt-4">Il y a <%= @rides_count %> sessions <%= @sport if params[:sport].present? %></h1>
  <h2><%= @description %></h2>
  <p> <%= Sport.find(@sport_id).description if params[:sport].present?%></p>

  <hr>
  <% @rides.each do |ride| %>
    <% if ride.user != current_user %>
      <%= link_to ride_path(ride) do %>
        <div class="card-session">
          <div class="card-session-colum">
              <h3><%= ride.title %></h3>
              <p>Place : <%= ride.nb_of_place %></p>
              <p>Spot : <%= ride.spot %></p>
          </div>
          <div class="card-session-colum  right">
            <% if ride.user.photo.attached? %>
              <%= cl_image_tag ride.user.photo.key, class: "profile-pic" %>
            <% else %>
              <%= image_tag 'logo-sail-sessions.png', class: "profile-pic" %>
            <% end %>
            <p class="ride_date_card"><%= ride.departure_date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <hr>
  <div class="search-form-control form-group form-inline center-search">
    <%= form_with url: "/search", method: :get, local: true, :remote => true  do |form| %>
     <!-- Dropdown -->
    <%= form.select :sport, Sport.all.map {|sport| sport.name},
    {
      selected: "",
      prompt: 'Choisis ton sport',
    },
    {class: "form-control little-margin-bottom"} %>
    <%= form.text_field :from, placeholder: "Tu pars d'ou ?", class: "form-control little-margin-bottom", id:"from-input"%>
    <%= form.date_field :date, placeholder: "Quand ?", class: "form-control little-margin-bottom" %>
    <h3><%= form.submit "Trouver une session", class: "btn btn-flat-search background-accent-color" %></h3>
    <% end %>
  </div>
</div>
