
<!-- Content for Meta-data -->
<% content_for :meta_title, "Découvre cette session | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Cette session n'attend plus que vous pour démarrer. Rejoignez la dès maintenant !" %>
<% content_for :meta_image, image_path(DEFAULT_META["meta_image"]) %>
<div class="container">

  <a href="javascript:history.back()" class="position-top-left">
    <%= image_tag "outline_arrow_back_ios_black_24dp.png" %>
  </a>
  <h1 class="view-headline text-center pt-3">Détail de la session</h1>
<hr>
  <div class="d-flex">
    <!-- Score cards container  -->
    <div class="d-flex flex-column" id="score-card-container">
      <div class="score-card-session">
        <h3 class="view-headline ">Date</h3>
        <h3 class=" view-headline color-depart text-center"><%= @ride.departure_date %></h3>
      </div>
      <div class="score-card-session">
        <h3 class="view-headline">Début</h3>
        <h3 class="color-depart"><%=@ride.format_hour(@ride.start_time) %></h3>
      </div>
      <div class="score-card-session">
        <h3 class="view-headline">Fin</h3>
        <h3 class="color-depart"><%=@ride.format_hour(@ride.end_time) %></h3>
      </div>
    </div>

    <!-- Informations complémentaires sur la session -->
    <div class="flex-fill pl-3 pt-2">
      <h2 class="view-headline"><%= @ride.title %></h2>
      <h3 class="view-headline">Spot : <%= @ride.spot %></h3>
      <h3 class="view-headline">Rejoins la session de :</h3>

    <!-- Redirection vers le profil du rider -->
    <%= link_to user_profile_path(@ride.user),:action => 'go' do  %>
  <!-- Card Contact Component -->
      <div class="card-reviews driver">
        <div class="card-top">
  <!-- Mécanisme de remplacement des photos par celles de l'utilisateur créateur de l'offre -->
          <% if @ride.user.photo.attached? %>
            <%= cl_image_tag @ride.user.photo.key, class: "profile-pic" %>
          <% else %>
            <%= image_tag "logo-sail-sessions.png", class: "profile-pic" %>
          <% end %>
          <!-- Nom du créateur de la session -->
          <div>
            <h3 class="ml-3"><%=@ride.user.name%></h3>
          </div>
        </div>
      </div>
    <% end %>
    </div>

 <!-- Fin Card Contact Component -->
      </div>
    </div>
  <hr>

<%# map %>
  <div id="map"
        style="width: 100%; height: 200px"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <hr>
<div class="container">
      <!-- Description de la session -->
  <div class="container">
    <h2 class="view-headline">Découvre cette session</h2>
    <p class="view-headline"><%= @ride.description %></p>
    <hr>
  </div>
  <!-- Objets d'échange entre sessionners -->
  <div class="container">
    <h2 class="view-headline">Choisis ce que tu apportes</h2>
    <p class="view-headline">Si cette session t'intéresses, alors il ne te reste pus qu'à choisir ce que tu souhaites apporter en échange du covoiturage. N'hésites pas à en discuter avec l'hôte pour trouver un compromis. </p>
   <!-- Dropdown button -->
    <% if (current_user.id != @ride.user_id) %>
      <div class="dropdown pt-3" id="echange-selector">
       <%= simple_form_for [@ride, @booking] do |f| %>
         <%= f.input :echange, collection: [ "J’apporte les bières!", "J’apporte le pique nique!", "Je propose à l’hôte quelquechose"] %>
         <div class="sticky-btn">
          <%= f.submit "Reserver", class:"btn btn-flat background-accent-color margin-top big-btn link-to-h3" %>
         </div>
       <% end %>
      </div>
    <% end %>
  </div>
  <hr>

</div>
